@import "../basics/colors";
@import "../basics/constants";
@import "../basics/breakpoints";

.description {
  &--paragraph {
    &--highlight {
      color: var(--highlight);
      font-weight: bold;
    }

    &--italic {
      font-style: italic;
    }
  }
}
