@import "../basics/colors";
@import "../basics/constants";

.project-dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &--upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &--image {
      // height: 150px;
      width: 100%;
      object-fit: cover;
      border-radius: var(--image-radius);
      border: 1px solid var(--image-border);
      // border: 1px solid rgba(255, 255, 255, 0.4);
    }

    &--name {
      /* Add additional styles if needed */
    }
  }

  &--description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5em; /* Adjust line height if necessary */
  }

  &--stack {
    display: flex;
    flex-wrap: wrap; /* Macht das Wrappen möglich */
    justify-content: flex-start; /* Zentriert die Cards mit Lücken dazwischen */
    gap: 10px;

    &--item {
      border-radius: 10px;
      padding: 4px 12px 4px 8px;

      display: flex;

      &--icon {
        width: 20px;
      }

      &--label {
        font-weight: bold;
      }
    }
  }
}

.html {
  color: var(--color-html);
  background-color: var(--color-html-bg);
}

.javascript {
  color: var(--color-javascript);
  background-color: var(--color-javascript-bg);
}

.typescript {
  color: var(--color-typescript);
  background-color: var(--color-typescript-bg);
}

.css {
  color: var(--color-css);
  background-color: var(--color-css-bg);
}

.scss {
  color: var(--color-scss);
  background-color: var(--color-scss-bg);
}

.react {
  color: var(--color-react);
  background-color: var(--color-react-bg);
}

.materialui {
  color: var(--color-materialui);
  background-color: var(--color-materialui-bg);
}

.dart {
  color: var(--color-dart);
  background-color: var(--color-dart-bg);
}

.flutter {
  color: var(--color-flutter);
  background-color: var(--color-flutter-bg);
}

.python {
  color: var(--color-python);
  background-color: var(--color-python-bg);
}

.node {
  color: var(--color-node);
  background-color: var(--color-node-bg);
}

.express {
  color: var(--color-express);
  background-color: var(--color-express-bg);
}

.postgresql {
  color: var(--color-postgresql);
  background-color: var(--color-postgresql-bg);
}

.git {
  color: var(--color-git);
  background-color: var(--color-git-bg);
}

.postman {
  color: var(--color-postman);
  background-color: var(--color-postman-bg);
}

.insomnia {
  color: var(--color-insomnia);
  background-color: var(--color-insomnia-bg);
}

.figma {
  color: var(--color-figma);
  background-color: var(--color-figma-bg);
}

@media (prefers-color-scheme: dark) {
  .project-dialog--upper--image {
    filter: brightness(80%) contrast(110%);
  }
}
