@import "../basics/colors";
@import "../basics/constants";

.project-dialog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  &--upper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    &--image {
      // height: 150px;
      width: 100%;
      object-fit: cover;
      border-radius: var(--image-radius);
      border: 1px solid var(--color-card);
      // border: 1px solid rgba(255, 255, 255, 0.4);
    }

    &--name {
      /* Add additional styles if needed */
    }
  }

  &--description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5em; /* Adjust line height if necessary */
  }

  &--stack {
    display: flex;
    flex-wrap: wrap; /* Macht das Wrappen möglich */
    justify-content: start; /* Zentriert die Cards mit Lücken dazwischen */
    gap: 10px;

    &--item {
      border-radius: 10px;
      padding: 4px 8px;

      background-color: var(--color-tech-background);
      // border: 1px solid var(--color-font);

      display: flex;

      &--icon {
        width: 20px;
      }

      &--label {
        font-weight: bold;
      }
    }
  }
}
