.data {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--container {
    margin-top: 130px;
    padding-bottom: 50px;

    &--header {
      font-weight: bold;
    }

    &--text {
      text-align: justify;
    }
  }
}
