.imprint {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--container {
    margin-top: 2rem;
    padding-bottom: 50px;

    &--contact {
      &--header {
        font-weight: bold;
      }
    }

    &--text {
      text-align: justify;
    }
  }
}
