$color-font-dark: rgb(30, 30, 30);
$color-font-light: rgb(255, 255, 255);
$color-font-placeholder: rgb(201, 201, 201);

$color-link-hover: rgb(100, 100, 100);

$color-border: rgb(170, 170, 170);

$color-input-background: rgb(121, 121, 121);
