$card-radius: 10px;
$dialog-radius: 10px;
$image-radius: 10px;
$tag-radius: 10px;
$input-radius: 10px;
$button-radius: 10px;

// hero
$hero-image-width-lg: 300px;
$hero-image-radius-lg: 150px;
$hero-circle-width-lg: 300px;
$hero-circle-height-lg: 300px;
$hero-circle-radius-lg: 150px;

$hero-image-width-md: 200px;
$hero-image-radius-md: 100px;
$hero-circle-width-md: 200px;
$hero-circle-height-md: 200px;
$hero-circle-radius-md: 100px;
