:root {
  --card-radius: 10px;
  --dialog-radius: 10px;
  --image-radius: 10px;
  --tag-radius: 10px;
  --input-radius: 10px;
  --button-radius: 10px;

  // hero
  --hero-image-width: 300px;
  --hero-image-radius: 150px;
  --hero-circle-width: 300px;
  --hero-circle-height: 300px;
  --hero-circle-radius: 150px;
}
