@import "./_colors.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Helvetica;
  background-color: var(--root-bg);
  color: var(--text-primary);
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}
