@import "./_colors.scss";
@import "./_breakpoints.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Helvetica;
  background-color: var(--root-bg);
  color: var(--text-primary);
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: $bp-lg) {
  .app {
    margin-left: 20px;
    margin-right: 20px;
  }
}

a {
  color: var(--text-primary);
  text-decoration: none;
}
