@import "_colors";

.link:hover {
  color: var(--highlight);
  transform: scale(1.1);
  cursor: pointer;
}

.extern {
  color: var(--highlight);

  &:hover {
    color: var(--text-primary);
    cursor: pointer;
  }
}
