.html {
  color: var(--color-html);
  // color: var(--text-primary);
  background-color: var(--color-html-bg);
}

.javascript {
  color: var(--color-javascript);
  // color: var(--text-primary);
  background-color: var(--color-javascript-bg);
}

.typescript {
  color: var(--color-typescript);
  // color: var(--text-primary);
  background-color: var(--color-typescript-bg);
}

.css {
  color: var(--color-css);
  // color: var(--text-primary);
  background-color: var(--color-css-bg);
}

.scss {
  color: var(--color-scss);
  // color: var(--text-primary);
  background-color: var(--color-scss-bg);
}

.react {
  color: var(--color-react);
  // color: var(--text-primary);
  background-color: var(--color-react-bg);
}

.materialui {
  color: var(--color-materialui);
  // color: var(--text-primary);
  background-color: var(--color-materialui-bg);
}

.dart {
  color: var(--color-dart);
  // color: var(--text-primary);
  background-color: var(--color-dart-bg);
}

.flutter {
  color: var(--color-flutter);
  // color: var(--text-primary);
  background-color: var(--color-flutter-bg);
}

.python {
  color: var(--color-python);
  // color: var(--text-primary);
  background-color: var(--color-python-bg);
}

.node {
  color: var(--color-node);
  // color: var(--text-primary);
  background-color: var(--color-node-bg);
}

.express {
  color: var(--color-express);
  // color: var(--text-primary);
  background-color: var(--color-express-bg);
}

.postgresql {
  color: var(--color-postgresql);
  // color: var(--text-primary);
  background-color: var(--color-postgresql-bg);
}

.pgadmin {
  color: var(--color-pgadmin);
  // color: var(--text-primary);
  background-color: var(--color-pgadmin-bg);
}

.git {
  color: var(--color-git);
  // color: var(--text-primary);
  background-color: var(--color-git-bg);
}

.postman {
  color: var(--color-postman);
  // color: var(--text-primary);
  background-color: var(--color-postman-bg);
}

.insomnia {
  color: var(--color-insomnia);
  // color: var(--text-primary);
  background-color: var(--color-insomnia-bg);
}

.figma {
  color: var(--color-figma);
  // color: var(--text-primary);
  background-color: var(--color-figma-bg);
}

.socketio {
  color: var(--color-socketio);
  // color: var(--text-primary);
  background-color: var(--color-socketio-bg);
}

.nestjs {
  color: var(--color-nestjs);
  // color: var(--text-primary);
  background-color: var(--color-nestjs-bg);
}

.nextjs {
  color: var(--color-nextjs);
  // color: var(--text-primary);
  background-color: var(--color-nextjs-bg);
}

.tailwindcss {
  color: var(--color-tailwindcss);
  // color: var(--text-primary);
  background-color: var(--color-tailwindcss-bg);
}