@import "../basics/colors";
@import "../basics/constants";

.custom-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dialog-backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(6px); /* Apply blur effect */

  &--content {
    margin: 40px;
    padding: 20px;
    max-width: 900px;
    max-height: 90%; /* Limit the height of the dialog */
    overflow-y: auto; /* Enable scrolling for overflowing content */

    border-radius: $dialog-radius;
    background-color: var(--dialog-bg);
    border: 1px solid var(--dialog-border);

  } 
}