@import "../basics/colors";
@import "../basics/constants";
@import "../basics/breakpoints";

.no-scroll {
  overflow: hidden; /* Disable scrolling on the body */
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--dialog-backdrop);
  backdrop-filter: blur(6px); /* Apply blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog--container {
  position: relative;
  padding: 20px;
  max-height: 90dvh; /* Limit dialog height to 90% of the viewport height */
  max-width: 900px;
  width: 100%; /* Ensure it scales properly on smaller screens */
  display: flex;
  flex-direction: column; /* Stack content vertically */

  &--close-btn {
    position: absolute;
    top: 5px; /* Overflow by 10px */
    right: 5px; /* Overflow by 10px */
    background: var(--dialog-close-btn-bg);
    border: 1px solid var(--dialog-close-btn-border);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    z-index: 1100;

    &:hover {
      background: var(--dialog-close-btn-bg-hover);
    }
  }

  &--content {
    // flex: 1;
    overflow-y: scroll; /* Enable scrolling for overflowing content */

    text-align: justify;

    padding: 20px;

    border-radius: $dialog-radius;
    background-color: var(--dialog-bg);
    border: 1px solid var(--dialog-border);
  }
}
