@import "../basics/colors";
@import "../basics/constants";

.verticaltabs {
  display: flex;

  height: 190px; // TODO: change to variable workway? -> height of tabbar should be as high as biggest TabPanel
}

.horizontaltabs {
  display: flex;
  flex-direction: column;
}
