.fade-in-bottom {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility; // tells the browser as a hint, that the animations will come -> smoother animations
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-10vw);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility; // tells the browser as a hint, that the animations will come -> smoother animations
}

.fade-in-right {
  opacity: 0;
  transform: translateX(10vw);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility; // tells the browser as a hint, that the animations will come -> smoother animations
}

.fade-in-top {
  opacity: 0;
  transform: translateY(-10vh);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility; // tells the browser as a hint, that the animations will come -> smoother animations
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
