@import "../basics/colors";
@import "../basics/constants";

@keyframes slide-in {
  0% {
    transform: translateY(80px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 20px;

  width: 310px;
  height: 310px;

  background-color: var(--card-bg);
  border: 1px solid var(--card-border);

  border-radius: var(--border-radius);

  opacity: 0;
  transition: opacity 0.3s ease-in;
  box-shadow: 0 4px 8px var(--card-shadow);

  &:hover {
    cursor: pointer;
    transform: scale(1.03); /* Slightly scale on hover */
    transition: transform 0.2s ease-in;
    box-shadow: 0 6px 12px var(--card-shadow-hover);
  }

  &--upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &--image {
      height: 150px;
      width: 350px;
      object-fit: cover;
      border-radius: var(--image-radius);
      border: 1px solid var(--image-border);
    }

    &--name {
      /* Add additional styles if needed */
    }
  }

  &--description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.5em; /* Adjust line height if necessary */
    max-height: calc(1.5em * 3); /* Limit height to 3 lines */
  }
}

.slide-in {
  opacity: 1;
  animation: slide-in 0.5s ease-in;
}

/* Base styles for light mode (default) */
.project-card--upper--image {
  filter: brightness(100%) contrast(100%);
}

/* Styles for dark mode */
[data-theme="dark"] .project-card--upper--image {
  filter: brightness(80%) contrast(110%);
}
