@import "../basics/colors";
@import "../basics/constants";
@import "../basics/breakpoints";

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 100%;
  height: auto;

  &--tabbar {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &--highlight {
    position: absolute;
    bottom: 0;
    height: 34px;

    border: 1px solid var(--highlight);
    border-radius: $card-radius;
    transition: transform 0.3s ease, width 0.3s ease;
    pointer-events: none;
  }

  &--spacer {
    height: 20px;
  }
}
