@import "../basics/colors";
@import "../basics/constants";

.tabpanel {
  margin: 0px 0px 0px 20px;
  padding: 10px 20px 10px 20px;

  height: 100%;
  width: 98%;

  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: $card-radius;

  &--header {
    display: flex;

    font-size: 20px;
    font-weight: bold;

    &--title {
    }

    &--at {
    }

    &--company {
      color: var(--highlight);

      &:hover {
        color: var(--highlight-hover);
      }
    }
  }

  &--time {
    font-size: 14px;

    color: var(--text-secondary);
  }

  &--tasks {
    list-style: none;
    margin-left: -40px;

    &--task {
      color: var(--text-secondary);

      position: relative;
      padding-left: 30px;

      &::before {
        content: "▹    ";
        color: var(--highlight);
        position: absolute;
        left: 0;
      }
    }
  }
}
