@import "../basics/colors";

.input {
  background-color: $color-input-background;
  border: 1px solid $color-input-background;
  border-radius: 10px;
  padding-left: 6px;

  width: 100%;
  height: 36px;
  color: $color-font-light;
  font-weight: 300;

  &::placeholder {
    color: $color-font-placeholder;
  }

  &:focus {
    outline: none;
  }
}

.contact {
  padding-bottom: 50px;

  &--heading {
  }

  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--left {
      width: 50%;
      display: flex;
      flex-direction: column;

      &--formular {
        min-width: 400px;

        &--name {
        }

        &--email {
        }

        &--message {
          height: 300px;
          padding-top: 6px;
        }

        &--button {
          display: flex;
          justify-content: flex-end; /* Aligns the button to the right */

          &--btn {
            background-color: $color-input-background;
            border: 1px solid $color-input-background;
            border-radius: 10px;
            padding-left: 6px;

            width: 100px;
            height: 30px;
            color: $color-font-light;
            font-weight: 300;

            &:hover {
              background-color: $color-font-placeholder;
              color: $color-font-dark;
              border: 1px solid $color-font-dark;
              cursor: pointer;
            }

            &:focus {
              outline: none;
            }

            &:disabled {
              background-color: $color-font-placeholder;
              border: 1px solid $color-font-placeholder;
              color: $color-input-background;

              &:hover {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }

    &--right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: end;

      &--email-heading {
      }

      &--email {
        &:hover {
          color: $color-link-hover;
        }
      }

      &--socials-heading {
      }

      &--socials {
        display: flex;

        &--item {
        }
      }
    }
  }
}
