@import "../basics/colors";
@import "../basics/constants";

.input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius);
  padding-left: 6px;

  width: 100%;
  height: 36px;
  color: var(--text-primary);
  font-weight: 300;

  &::placeholder {
    color: var(--text-placeholder);
  }

  &:focus {
    outline: none;
  }
}

.contact {
  padding-bottom: 50px;

  &--heading {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    &--icon {
      color: var(--text-primary);
    }

    &--line {
      margin-top: 15px;
      width: 400px;
      border-bottom: 1px solid var(--section-header-line);
    }
  }

  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--left {
      width: 50%;
      display: flex;
      flex-direction: column;

      &--formular {
        min-width: 400px;

        &--name {
        }

        &--email {
        }

        &--message {
          height: 300px;
          padding-top: 6px;
        }

        &--button {
          display: flex;
          justify-content: flex-end; /* Aligns the button to the right */

          &--btn {
            background-color: var(--button-bg);
            border: 1px solid var(--button-border);
            border-radius: var(--border-radius);
            padding-left: 6px;

            width: 100px;
            height: 30px;
            color: var(--text-primary);
            font-weight: 300;

            &:hover {
              background-color: var(--button-bg-hover);
              border: var(--button-border-hover);
              cursor: pointer;
            }

            &:focus {
              outline: solid 1px var(--button-outline-clicked);
            }

            &:active {
              background-color: var(--button-bg-click);
              outline: none;
            }

            &:disabled {
              background-color: var(--button-bg-disabled);
              border: 1px solid var(--button-border-disabled);
              color: var(--text-placeholder);

              &:hover {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }

    &--right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &--email-heading {
      }

      &--email {
        &:hover {
          color: var(--highlight);
        }
      }

      &--socials-heading {
      }

      &--socials {
        display: flex;
        align-items: center;

        &--icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
        }

        svg {
          cursor: pointer;
          width: 100%;
          height: 100%;

          transform: scale(1.1);
          transition: all 0.3s ease;

          &:hover {
            fill: var(--highlight);
            transform: scale(1.2);
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
