.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &--left {
    width: 200px;
    text-align: end;
  }

  &--logo {
    cursor: pointer;

    &:hover {
      svg {
        transform: scale(1.1);
        fill: var(--highlight);
      }
    }
  }

  &--right {
    width: 200px;
  }
}