@import "../basics/colors";
@import "../basics/constants";
@import "../basics/breakpoints";

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.blink {
  animation: blink 1.5s infinite;
}

.hero {
  // DVH achtet auf Browser-Adressleiste -> fix mobile devices
  height: 100dvh; // depends on bottom margin of header
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-left: 40px;
  margin-right: 40px;

  &--left {
    &--text1 {
      display: flex;
      font-size: 60px;
      font-weight: 600;
      line-height: 76px;
      // letter-spacing: 1px;

      &--name {
        color: var(--highlight);
      }

      &--spacer {
        width: 10px;
      }

      &--cursor {
        // font-size: 60px;
        font-weight: normal;
      }
    }

    &--spacer {
      height: 10px;
    }

    &--socials {
      display: flex;
      align-items: center;

      &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
      }

      svg {
        cursor: pointer;
        width: 100%;
        height: 100%;

        transform: scale(1.1);
        transition: all 0.3s ease;

        &:hover {
          fill: var(--highlight);
          transform: scale(1.2);
          transition: all 0.3s ease;
        }
      }
    }
  }

  &--right {
    position: relative;
    display: inline-block;

    &--image {
      width: $hero-image-width-lg;
      height: auto;

      position: relative;
      z-index: 1;
      display: block;
      border-radius: $hero-image-radius-lg;
    }

    &--circle {
      position: absolute;
      bottom: 1px; // otherwise the circle is shining under the image a bit in dark mode
      left: 50%;
      transform: translateX(-50%);
      width: $hero-circle-width-lg;
      height: $hero-circle-height-lg;
      background-color: var(--highlight);
      border-radius: $hero-circle-radius-lg;
      z-index: 0;
    }
  }
}

@media only screen and (max-width: $bp-md) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--left {
      &--text1 {
        display: flex;
        font-size: 36px;
        font-weight: 600;
        line-height: 50px;

        &--name {
          color: var(--highlight);
        }

        &--spacer {
          width: 4px;
        }
      }

      &--spacer {
        height: 5px;
      }

      &--socials {
        &--icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    &--right {
      &--image {
        width: $hero-image-width-md;
        height: auto;

        position: relative;
        z-index: 1;
        display: block;
        border-radius: $hero-image-radius-md;
      }

      &--circle {
        position: absolute;
        bottom: 1px; // otherwise the circle is shining under the image a bit in dark mode
        left: 50%;
        transform: translateX(-50%);
        width: $hero-circle-width-md;
        height: $hero-circle-height-md;
        background-color: var(--highlight);
        border-radius: $hero-circle-radius-md;
        z-index: 0;
      }
    }
  }
}

@media only screen and (max-width: $bp-sm) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    &--left {
      margin-top: 50px;
      width: 100%;

      &--spacer {
        height: 5px;
      }
    }
  }
}
