@import "../basics/colors";
@import "../basics/constants";

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.blink {
  animation: blink 1.5s infinite;
}

.hero {
  height: 100vh; // depends on bottom margin of header
  padding-bottom: 50px;
  // margin: 200px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--left {
    &--text1 {
      display: flex;
      font-size: 50px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: 1px;

      &--name {
        color: var(--highlight);
      }

      &--cursor {
        font-size: 60px;
        font-weight: normal;
      }
    }

    &--text2 {
      font-size: 50px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: 1px;

      // color: var(--highlight);
    }

    &--text3 {
      margin-top: 10px;
      // margin-left: 50px;

      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 1px;
    }

    &--socials {
      display: flex;
      align-items: center;

      &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
      }

      svg {
        cursor: pointer;
        width: 100%;
        height: 100%;

        transform: scale(1.1);
        transition: all 0.3s ease;

        &:hover {
          fill: var(--highlight);
          transform: scale(1.2);
          transition: all 0.3s ease;
        }
      }
    }
  }

  &--right {
    position: relative;
    display: inline-block;

    &--image {
      width: var(--hero-image-width);
      height: auto;

      position: relative;
      z-index: 1;
      display: block;
      border-radius: var(--hero-image-radius);
    }

    &--circle {
      position: absolute;
      bottom: 1px; // otherwise the circle is shining under the image a bit in dark mode
      left: 50%;
      transform: translateX(-50%);
      width: var(--hero-circle-width);
      height: var(--hero-circle-height);
      background-color: var(--highlight);
      border-radius: var(--hero-circle-radius);
      z-index: 0;
    }
  }
}
