@import "../basics/colors";
@import "../basics/constants";

@keyframes slide-in {
  0% {
    transform: translateY(80px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.tech {
  padding-bottom: 50px;

  &--heading {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    &--icon {
      color: var(--text-primary);
    }

    &--line {
      margin-top: 15px;
      width: 400px;
      border-bottom: 1px solid var(--section-header-line);
    }
  }

  &--items {
    display: flex;
    flex-wrap: wrap; /* Macht das Wrappen möglich */
    justify-content: center; /* Zentriert die Cards mit Lücken dazwischen */
    gap: 30px;
    width: 100%; /* Full width of the container */

    &--card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      width: 110px; /* Ensure width is equal to height */
      height: 110px; /* Ensure height is equal to width */

      background-color: var(--card-bg);
      border: 1px solid var(--card-border);
      border-radius: $card-radius;

      opacity: 0;
      transition: opacity 0.3s ease-in;
      box-shadow: 0 15px 25px var(--card-shadow);

      &.slide-in {
        opacity: 1;
        animation: slide-in 0.5s ease-in;
      }

      &:hover {
        transform: scale(1.05); /* Slightly scale on hover */
        transition: transform 0.2s ease-in;
        box-shadow: 0 15px 25px var(--card-shadow-hover);
      }

      &--image {
        margin-top: 10px;
        width: 40px; /* Adjust as needed */
        height: 40px; /* Adjust as needed */
      }
    }
  }
}
