/* =============== Basic Styles =============== */

.home-wrapper {
    height: 100vh;
}

.home {
    overflow: auto;
}

/* =============== Hero Styles =============== */

.hero {
    text-align: center; 
    margin: auto 0;   
    margin-bottom: 4rem;
}

.name {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
}

.home .description {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 200;
    letter-spacing: 1.2;
    text-align: center;
}

/* =============== Socials Styles =============== */

.btns-socials {
    display: flex;
    justify-content: center;
}

.btn-socials {
    font-size: 1.25rem;
    border: none;
    border-radius: 2rem;
    margin-right: 2rem;
    width: 10.5625rem;
    padding: 1.25rem 0;
    text-align: center;
}

.btn-socials:last-child {
    margin-right: 0;
}

/* =============== 1170px -> xxpx =============== */

@media only screen and ( min-width: 1171px ) {
    
    .home {
        padding: 8rem 8rem 10rem 8rem;
    }
}

/* =============== 801px -> 1170px =============== */

@media only screen and ( min-width: 801px ) and ( max-width: 1170px ) {
    
    .home {
        padding: 5rem 4rem 10rem 4rem;
    }
}

/* =============== 0px -> 800px =============== */

@media only screen and ( min-width: 0px ) and ( max-width: 800px ) {
    
    .home {
        padding: 5rem 2rem 10rem 2rem;
    }

    .hero {
        text-align: center; 
        margin: auto 0;   
    }
    
    .name {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .home .description {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .btns-socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .btn-socials {
        margin-right: 0rem;
        margin-bottom: 0.8rem;
    }
    
}