/* =============== Basic Styles =============== */

.contact {    
    /* height: 100vh; */
    overflow: auto;
}

/* =============== Form Styles =============== */

.contact h2 {
    font-size: 3.625rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.625rem;
    text-align: center;
}

.form-wrapper {
    margin: 0 auto;
    width: 35rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.input-name {
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 1rem;
}

.input-email {
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 1rem;
}

.input-message {
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 0.4rem;
    padding: 0.4rem 0.4rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 15rem;
    font-size: 1rem;
}

.btn-submit {
    border: none;
    border-radius: 0.6rem;
    width: 6rem;
    padding: 0.6rem 0;
    height: 100%;
    font-size: 1.1rem;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
}

/* =============== 1170px -> xxpx =============== */

@media only screen and ( min-width: 1171px ) {
    
    .contact {
        padding: 8rem 8rem 10rem 8rem;
    }
}

/* =============== 801px -> 1170px =============== */

@media only screen and ( min-width: 801px ) and ( max-width: 1170px ) {
    
    .contact {
        padding: 5rem 4rem 10rem 4rem;
    }
}

/* =============== 0px -> 632px =============== */

@media only screen and ( min-width: 632px ) and ( max-width: 800px ) {
    
    .contact {
        padding: 5rem 2rem 10rem 2rem;
    }
}

/* =============== 0px -> 631px =============== */

@media only screen and ( min-width: 0px ) and ( max-width: 631px ) {
    
    .contact {
        padding: 5rem 2rem 10rem 2rem;
    }

    .form-wrapper {
        width: 19rem;
    }

}