/* =============== Basic Styles =============== */

.sidebar {
    height: 100vh;
    position: fixed;
    width: 16%;
    z-index: 20;
    overflow: auto;
}

/* =============== Navbar Styles =============== */

.navbar {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 2.625rem;
}

/* =============== Icon Styles =============== */

.profile {
    text-align: center;
    width: 100%;
}

.profile img {
    width: 83%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* =============== List Styles =============== */

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    text-align: center;
}

.li-marg-bot1 {
    margin-bottom: 2.125rem;
}

.li-marg-bot2 {
    margin-bottom: 1.5rem;
}


/* =============== Button Styles =============== */

.btn-contact {
    border-radius: 2rem;
    padding: 1.0625rem 2.4375rem;
    align-items: center;
}

/* =============== Footer Styles =============== */

footer {
    width: 100%;
    text-align: center;
}

/* =============== Eng/Ger-Mode Styles =============== */

.lang {
    padding-bottom: 0.4rem;
}

.lang img{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

.lang img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: ease-in-out 300ms;
}

/* =============== Light/Dark-Mode Styles =============== */

.theme {
    padding-bottom: 1.2rem;
    font-size: 3rem;
    width: 100%;
}

.theme img {
    width: 1.8rem;
    height: 1.8rem;
}

.theme img:hover {
    cursor: pointer;
    opacity: 0.5;    
    transition: ease-in-out 300ms;
}

/* =============== Imprint/Data Styles =============== */

.imprint-data {
    font-size: 0.7rem;
}

.imprint-data a:hover {
    cursor: pointer;
    opacity: 0.5;    
    transition: ease-in-out 300ms;
}