:root {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(255, 255, 255);
  --color-font: rgb(30, 30, 30);
  --color-font-hover: rgb(100, 100, 100);
  --color-icon: rgb(30, 30, 30);
  --color-icon-hover: rgb(100, 100, 100);
  --color-link: rgb(0, 0, 0);
  --color-link-hover: rgb(100, 100, 100);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(210, 222, 231);
  --color-card-hover: rgb(230, 230, 230);
  --color-input-background: rgb(240, 240, 240);
  --color-input-font: rgb(30, 30, 30);
  --color-input-font-placeholder: rgb(100, 100, 100);
  --color-button-background: rgb(240, 240, 240);
  --color-button-background-hover: rgb(184, 197, 206);
  --color-button-font: rgb(30, 30, 30);
  --color-button-background-disabled: rgb(255, 255, 255);
  --color-button-font-disabled: rgb(200, 200, 200);
  --color-button-border-disabled: rgb(230, 230, 230);
  --color-highlight: rgb(116, 188, 255);
  --color-shadow: rgb(0, 0, 0, 0.1);
}

[data-theme=dark] {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(0, 0, 0);
  --color-font: rgb(255, 255, 255);
  --color-font-hover: rgb(200, 200, 200);
  --color-icon: rgb(255, 255, 255);
  --color-icon-hover: rgb(200, 200, 200);
  --color-link: rgb(255, 255, 255);
  --color-link-hover: rgb(200, 200, 200);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(13, 23, 31);
  --color-card-hover: rgb(40, 40, 40);
  --color-input-background: rgb(30, 30, 30);
  --color-input-font: rgb(255, 255, 255);
  --color-input-font-placeholder: rgb(200, 200, 200);
  --color-button-background: rgb(30, 30, 30);
  --color-button-background-hover: rgb(27, 46, 62);
  --color-button-font: rgb(255, 255, 255);
  --color-button-background-disabled: rgb(0, 0, 0);
  --color-button-font-disabled: rgb(100, 100, 100);
  --color-button-border-disabled: rgb(100, 100, 100);
  --color-highlight: rgb(116, 188, 255);
}

.about {
  padding-bottom: 50px;
}
.about--tech-items {
  display: flex;
  overflow: hidden; /* Hide overflow to ensure items slide out of view */
  white-space: nowrap; /* Prevent wrapping of items */
  position: relative; /* For positioning the animation */
  width: 100%; /* Full width of the container */
  height: 80px; /* Set a height to the container to match the items */
  /* Add a wrapper for the sliding effect */
}
.about--tech-items--wrapper {
  display: flex;
  width: 200%; /* Ensure wrapper is twice the width of the container */
  animation: slide 15s linear infinite;
}
.about--tech-items--item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 80px; /* Ensure width is equal to height */
  height: 80px; /* Ensure height is equal to width */
  background-color: var(--color-card);
  border: 1px solid var(--color-card);
  border-radius: 20px;
  margin-right: 30px; /* Ensure margin for spacing between items */
}
.about--tech-items--item--image {
  width: 46px; /* Adjust as needed */
  height: 46px; /* Adjust as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=about.css.map */