:root {
  --root-bg: rgb(245, 245, 245);
  --text-primary: rgba(33, 33, 33, 1);
  --text-secondary: rgba(117, 117, 117, 1);
  --text-tertiary: rgba(189, 189, 189, 1);
  --text-placeholder: rgba(189, 189, 189, 1);
  --text-primary-hover: rgba(66, 66, 66, 1);
  --text-secondary-hover: rgba(150, 150, 150, 1);
  --text-tertiary-hover: rgba(220, 220, 220, 1);
  --highlight: rgb(116, 188, 255);
  --input-border: rgba(200, 200, 200, 1);
  --button-bg: rgba(200, 200, 200, 1);
  --button-bg-hover: rgba(220, 220, 220, 1);
  --button-bg-disabled: rgba(0, 0, 0, 0);
  --button-no-bg: rgba(0, 0, 0, 0);
  --button-border: rgba(200, 200, 200, 1);
  --button-border-hover: rgba(200, 200, 200, 1);
  --card-bg: rgba(235, 235, 235, 1);
  --card-border: rgba(200, 200, 200, 1);
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-shadow-hover: rgba(0, 0, 0, 0.2);
  --dialog-bg: rgba(235, 235, 235, 1);
  --dialog-border: rgba(200, 200, 200, 1);
  --image-border: rgba(200, 200, 200, 1);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(255, 255, 255, 1);
  --color-express-bg: rgba(255, 255, 255, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-isomnia: rgba(64, 1, 191, 1);
  --color-isomnia-bg: rgba(64, 1, 191, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgres: rgba(51, 103, 145, 1);
  --color-postgres-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
}

[data-theme=dark] {
  --root-bg: rgb(18, 18, 18);
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-tertiary: rgba(255, 255, 255, 0.38);
  --text-placeholder: rgba(255, 255, 255, 0.38);
  --text-primary-hover: rgba(255, 255, 255, 0.6);
  --text-secondary-hover: rgba(255, 255, 255, 0.4);
  --text-tertiary-hover: rgba(255, 255, 255, 0.2);
  --highlight: rgb(116, 188, 255);
  --input-border: rgba(50, 50, 50, 1);
  --button-bg: rgba(50, 50, 50, 1);
  --button-bg-hover: rgba(60, 60, 60, 1);
  --button-bg-disabled: rgba(0, 0, 0, 0);
  --button-no-bg: rgba(0, 0, 0, 0);
  --button-border: rgba(50, 50, 50, 1);
  --button-border-hover: rgba(50, 50, 50, 1);
  --card-bg: rgba(24, 24, 24, 1);
  --card-border: rgba(50, 50, 50, 1);
  --card-shadow: rgba(0, 0, 0, 0.5);
  --card-shadow-hover: rgba(0, 0, 0, 0.8);
  --dialog-bg: rgba(24, 24, 24, 1);
  --dialog-border: rgba(50, 50, 50, 1);
  --image-border: rgba(50, 50, 50, 1);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(0, 0, 0, 1);
  --color-express-bg: rgba(0, 0, 0, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-isomnia: rgba(64, 1, 191, 1);
  --color-isomnia-bg: rgba(64, 1, 191, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgres: rgba(51, 103, 145, 1);
  --color-postgres-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica;
  background-color: var(--root-bg);
  color: var(--text-primary);
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}/*# sourceMappingURL=app.css.map */