:root {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(255, 255, 255);
  --color-font: rgb(30, 30, 30);
  --color-font-hover: rgb(100, 100, 100);
  --color-icon: rgb(30, 30, 30);
  --color-icon-hover: rgb(100, 100, 100);
  --color-link: rgb(0, 0, 0);
  --color-link-hover: rgb(100, 100, 100);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(210, 222, 231);
  --color-card-hover: rgb(230, 230, 230);
  --color-input-background: rgb(240, 240, 240);
  --color-input-font: rgb(30, 30, 30);
  --color-input-font-placeholder: rgb(100, 100, 100);
  --color-button-background: rgb(240, 240, 240);
  --color-button-background-hover: rgb(184, 197, 206);
  --color-button-font: rgb(30, 30, 30);
  --color-button-background-disabled: rgb(255, 255, 255);
  --color-button-font-disabled: rgb(200, 200, 200);
  --color-button-border-disabled: rgb(230, 230, 230);
  --color-tech-background: rgba(50, 50, 50, 0.2);
  --color-highlight: rgb(116, 188, 255);
  --color-shadow: rgb(0, 0, 0, 0.1);
}

[data-theme=dark] {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(0, 0, 0);
  --color-font: rgb(255, 255, 255);
  --color-font-hover: rgb(200, 200, 200);
  --color-icon: rgb(255, 255, 255);
  --color-icon-hover: rgb(200, 200, 200);
  --color-link: rgb(255, 255, 255);
  --color-link-hover: rgb(200, 200, 200);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(13, 23, 31);
  --color-card-hover: rgb(40, 40, 40);
  --color-input-background: rgb(30, 30, 30);
  --color-input-font: rgb(255, 255, 255);
  --color-input-font-placeholder: rgb(200, 200, 200);
  --color-button-background: rgb(30, 30, 30);
  --color-button-background-hover: rgb(27, 46, 62);
  --color-button-font: rgb(255, 255, 255);
  --color-button-background-disabled: rgb(0, 0, 0);
  --color-button-font-disabled: rgb(100, 100, 100);
  --color-button-border-disabled: rgb(100, 100, 100);
  --color-tech-background: rgba(200, 200, 200, 0.1);
  --color-highlight: rgb(116, 188, 255);
}

:root {
  --border-radius: 10px;
  --image-radius: 20px;
}

.input {
  background-color: var(--color-card);
  border: none;
  border-radius: var(--border-radius);
  padding-left: 6px;
  width: 100%;
  height: 36px;
  color: var(--color-input-font);
  font-weight: 300;
}
.input::-moz-placeholder {
  color: var(--color-input-font-placeholder);
}
.input::placeholder {
  color: var(--color-input-font-placeholder);
}
.input:focus {
  outline: none;
}

.contact {
  padding-bottom: 50px;
}
.contact--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact--container--left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact--container--left--formular {
  min-width: 400px;
}
.contact--container--left--formular--message {
  height: 300px;
  padding-top: 6px;
}
.contact--container--left--formular--button {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
}
.contact--container--left--formular--button--btn {
  background-color: var(--color-card);
  border: none;
  border-radius: var(--border-radius);
  padding-left: 6px;
  width: 100px;
  height: 30px;
  color: var(--color-button-font);
  font-weight: 300;
}
.contact--container--left--formular--button--btn:hover {
  background-color: var(--color-button-background-hover);
  cursor: pointer;
}
.contact--container--left--formular--button--btn:focus {
  outline: none;
}
.contact--container--left--formular--button--btn:disabled {
  background-color: var(--color-button-background-disabled);
  border: 1px solid var(--color-card);
  color: var(--color-card);
}
.contact--container--left--formular--button--btn:disabled:hover {
  cursor: not-allowed;
}
.contact--container--right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.contact--container--right--email:hover {
  color: var(--color-link-hover);
}
.contact--container--right--socials {
  display: flex;
  align-items: center;
}
.contact--container--right--socials--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.contact--container--right--socials svg {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.contact--container--right--socials svg:hover {
  fill: var(--color-icon-hover);
  transform: scale(1.2);
  transition: all 0.3s ease;
}/*# sourceMappingURL=contact.css.map */