:root {
  --root-bg: rgba(240, 248, 255, 1);
  --header-border-scroll: rgba(0, 0, 0, 0.5);
  --header-backdrop-scroll: rgba(240, 248, 255, 0.6);
  --text-primary: rgba(33, 33, 33, 1);
  --text-secondary: rgba(117, 117, 117, 1);
  --text-tertiary: rgba(189, 189, 189, 1);
  --text-placeholder: rgba(189, 189, 189, 1);
  --text-primary-hover: rgba(66, 66, 66, 1);
  --text-secondary-hover: rgba(150, 150, 150, 1);
  --text-tertiary-hover: rgba(220, 220, 220, 1);
  --highlight: rgb(116, 188, 255);
  --input-bg: rgba(255, 255, 255, 1);
  --input-border: rgba(0, 0, 0, 0.2);
  --button-bg: rgba(0, 0, 0, 0.2);
  --button-bg-hover: rgba(0, 0, 0, 0.1);
  --button-bg-disabled: rgba(0, 0, 0, 0);
  --button-bg-click: rgba(0, 0, 0, 0.07);
  --button-no-bg: rgba(0, 0, 0, 0);
  --button-border: rgba(0, 0, 0, 0);
  --button-border-hover: rgba(0, 0, 0, 0.2);
  --button-border-disabled: rgba(0, 0, 0, 0.2);
  --button-outline-clicked: rgba(0, 0, 0, 0.5);
  --card-bg: rgba(255, 255, 255, 1);
  --card-shadow: rgba(0, 0, 0, 0.03);
  --card-shadow-hover: rgba(0, 0, 0, 0.06);
  --dialog-backdrop: rgba(0, 0, 0, 0.5);
  --dialog-bg: rgba(255, 255, 255, 1);
  --dialog-border: rgba(0, 0, 0, 0.6);
  --section-header-line: rgba(0, 0, 0, 0.5);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(255, 255, 255, 1);
  --color-express-bg: rgba(255, 255, 255, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-isomnia: rgba(64, 1, 191, 1);
  --color-isomnia-bg: rgba(64, 1, 191, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgres: rgba(51, 103, 145, 1);
  --color-postgres-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
}

[data-theme=dark] {
  --root-bg: rgb(36, 40, 45);
  --header-border-scroll: rgba(255, 255, 255, 0.08);
  --header-backdrop-scroll: rgba(36, 40, 45, 0.7);
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-tertiary: rgba(255, 255, 255, 0.38);
  --text-placeholder: rgba(255, 255, 255, 0.38);
  --text-primary-hover: rgba(255, 255, 255, 0.6);
  --text-secondary-hover: rgba(255, 255, 255, 0.4);
  --text-tertiary-hover: rgba(255, 255, 255, 0.2);
  --highlight: rgb(116, 188, 255);
  --input-bg: rgba(49, 56, 64, 1);
  --input-border: rgba(0, 0, 0, 0);
  --button-bg: rgba(49, 56, 64, 1);
  --button-bg-hover: rgb(49, 56, 64, 0.6);
  --button-bg-disabled: rgba(0, 0, 0, 0);
  --button-bg-click: rgba(49, 56, 64, 0.3);
  --button-no-bg: rgba(0, 0, 0, 0);
  --button-border: rgba(0, 0, 0, 0);
  --button-border-hover: rgba(0, 0, 0, 0);
  --button-border-disabled: rgba(49, 56, 64, 1);
  --button-outline-clicked: rgba(255, 255, 255, 0.2);
  --card-bg: rgba(49, 56, 64, 1);
  --card-shadow: rgba(0, 0, 0, 0);
  --card-shadow-hover: rgba(0, 0, 0, 0);
  --dialog-backdrop: rgba(0, 0, 0, 0.5);
  --dialog-bg: rgba(49, 56, 64, 1);
  --dialog-border: rgba(255, 255, 255, 0.2);
  --section-header-line: rgba(255, 255, 255, 0.08);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(0, 0, 0, 1);
  --color-express-bg: rgba(0, 0, 0, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-isomnia: rgba(64, 1, 191, 1);
  --color-isomnia-bg: rgba(64, 1, 191, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgres: rgba(51, 103, 145, 1);
  --color-postgres-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
}

:root {
  --card-radius: 10px;
  --dialog-radius: 10px;
  --image-radius: 10px;
  --tag-radius: 10px;
  --input-radius: 10px;
  --button-radius: 10px;
  --hero-image-width: 300px;
  --hero-image-radius: 150px;
  --hero-circle-width: 300px;
  --hero-circle-height: 300px;
  --hero-circle-radius: 150px;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}
.blink {
  animation: blink 1.5s infinite;
}

.hero {
  height: 100vh;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero--left--text1 {
  display: flex;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1px;
}
.hero--left--text1--name {
  color: var(--highlight);
}
.hero--left--text1--cursor {
  font-size: 60px;
  font-weight: normal;
}
.hero--left--text2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1px;
}
.hero--left--text3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
}
.hero--left--socials {
  display: flex;
  align-items: center;
}
.hero--left--socials--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.hero--left--socials svg {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.hero--left--socials svg:hover {
  fill: var(--highlight);
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.hero--right {
  position: relative;
  display: inline-block;
}
.hero--right--image {
  width: var(--hero-image-width);
  height: auto;
  position: relative;
  z-index: 1;
  display: block;
  border-radius: var(--hero-image-radius);
}
.hero--right--circle {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--hero-circle-width);
  height: var(--hero-circle-height);
  background-color: var(--highlight);
  border-radius: var(--hero-circle-radius);
  z-index: 0;
}/*# sourceMappingURL=hero.css.map */