:root {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(255, 255, 255);
  --color-font: rgb(30, 30, 30);
  --color-font-hover: rgb(100, 100, 100);
  --color-icon: rgb(30, 30, 30);
  --color-icon-hover: rgb(100, 100, 100);
  --color-link: rgb(0, 0, 0);
  --color-link-hover: rgb(100, 100, 100);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(210, 222, 231);
  --color-card-hover: rgb(230, 230, 230);
  --color-input-background: rgb(240, 240, 240);
  --color-input-font: rgb(30, 30, 30);
  --color-input-font-placeholder: rgb(100, 100, 100);
  --color-button-background: rgb(240, 240, 240);
  --color-button-background-hover: rgb(230, 230, 230);
  --color-button-font: rgb(30, 30, 30);
  --color-button-background-disabled: rgb(255, 255, 255);
  --color-button-font-disabled: rgb(200, 200, 200);
  --color-button-border-disabled: rgb(230, 230, 230);
  --color-highlight: rgb(116, 188, 255);
  --color-shadow: rgb(0, 0, 0, 0.1);
}

[data-theme=dark] {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(0, 0, 0);
  --color-font: rgb(255, 255, 255);
  --color-font-hover: rgb(200, 200, 200);
  --color-icon: rgb(255, 255, 255);
  --color-icon-hover: rgb(200, 200, 200);
  --color-link: rgb(255, 255, 255);
  --color-link-hover: rgb(200, 200, 200);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(13, 23, 31);
  --color-card-hover: rgb(40, 40, 40);
  --color-input-background: rgb(30, 30, 30);
  --color-input-font: rgb(255, 255, 255);
  --color-input-font-placeholder: rgb(200, 200, 200);
  --color-button-background: rgb(30, 30, 30);
  --color-button-background-hover: rgb(40, 40, 40);
  --color-button-font: rgb(255, 255, 255);
  --color-button-background-disabled: rgb(10, 10, 10);
  --color-button-font-disabled: rgb(100, 100, 100);
  --color-button-border-disabled: rgb(100, 100, 100);
  --color-highlight: rgb(116, 188, 255);
}

@keyframes slide-in {
  0% {
    transform: translateY(80px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  width: 310px;
  height: 310px;
  background-color: var(--color-card);
  border: 1px solid var(--color-card);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  box-shadow: 0 4px 8px var(--color-shadow);
}
.project-card.slide-in {
  opacity: 1;
  animation: slide-in 0.5s ease-in;
}
.project-card:hover {
  cursor: pointer;
  transform: scale(1.03); /* Slightly scale on hover */
  transition: transform 0.2s ease-in;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.project-card--upper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.project-card--upper--image {
  height: 150px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  border: 1px solid var(--color-card);
}
.project-card--upper--name {
  /* Add additional styles if needed */
}
.project-card--description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1.5em; /* Adjust line height if necessary */
  max-height: 4.5em; /* Limit height to 3 lines */
}/*# sourceMappingURL=projectcard.css.map */