:root {
  --root-bg: rgba(240, 248, 255, 1);
  --header-border-scroll: rgba(0, 0, 0, 0.5);
  --header-backdrop-scroll: rgba(240, 248, 255, 0.6);
  --bottomnav-border-scroll: rgba(0, 0, 0, 0.5);
  --bottomnav-backdrop-scroll: rgba(240, 248, 255, 0.6);
  --text-primary: rgb(33, 33, 33);
  --text-secondary: rgba(117, 117, 117, 1);
  --text-tertiary: rgba(189, 189, 189, 1);
  --text-placeholder: rgba(189, 189, 189, 1);
  --text-primary-hover: rgba(66, 66, 66, 1);
  --text-secondary-hover: rgba(150, 150, 150, 1);
  --text-tertiary-hover: rgba(220, 220, 220, 1);
  --highlight: rgb(116, 188, 255);
  --highlight-hover: rgba(116, 188, 255, 0.6);
  --input-bg: rgba(255, 255, 255, 1);
  --input-border: rgba(0, 0, 0, 0.2);
  --button-bg: rgba(0, 0, 0, 0.2);
  --button-bg-hover: rgba(0, 0, 0, 0.1);
  --button-bg-disabled: rgba(0, 0, 0, 0);
  --button-bg-click: rgba(0, 0, 0, 0.07);
  --button-no-bg: rgba(0, 0, 0, 0);
  --button-border: rgba(0, 0, 0, 0);
  --button-border-hover: rgba(0, 0, 0, 0.2);
  --button-border-disabled: rgba(0, 0, 0, 0.2);
  --button-outline-clicked: rgba(0, 0, 0, 0.5);
  --card-bg: rgba(255, 255, 255, 1);
  --card-border: rgba(0, 0, 0, 0.2);
  --card-shadow: rgba(0, 0, 0, 0.03);
  --card-shadow-hover: rgba(0, 0, 0, 0.06);
  --dialog-backdrop: rgba(0, 0, 0, 0.5);
  --dialog-bg: rgba(255, 255, 255, 1);
  --dialog-border: rgba(0, 0, 0, 0.6);
  --dialog-close-btn-bg: rgba(255, 255, 255, 1);
  --dialog-close-btn-bg-hover: rgb(232, 232, 232);
  --dialog-close-btn-border: rgba(0, 0, 0, 0.5);
  --section-header-line: rgba(0, 0, 0, 0.5);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(255, 255, 255, 1);
  --color-express-bg: rgba(255, 255, 255, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-insomnia: rgba(64, 1, 191, 1);
  --color-insomnia-bg: rgba(64, 1, 191, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgresql: rgba(51, 103, 145, 1);
  --color-postgresql-bg: rgba(51, 103, 145, 0.1);
  --color-pgadmin: rgba(51, 103, 145, 1);
  --color-pgadmin-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
  --color-socketio: rgb(33, 33, 33, 1);
  --color-socketio-bg: rgba(33, 33, 33, 0.1);
  --color-nestjs: rgb(234, 39, 92);
  --color-nestjs-bg: rgb(234, 39, 92, 0.1);
}

[data-theme=dark] {
  --root-bg: rgb(36, 40, 45);
  --header-border-scroll: rgba(255, 255, 255, 0.08);
  --header-backdrop-scroll: rgba(36, 40, 45, 0.7);
  --bottomnav-border-scroll: rgba(255, 255, 255, 0.08);
  --bottomnav-backdrop-scroll: rgba(36, 40, 45, 0.7);
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-tertiary: rgba(255, 255, 255, 0.38);
  --text-placeholder: rgba(255, 255, 255, 0.38);
  --text-primary-hover: rgba(255, 255, 255, 0.6);
  --text-secondary-hover: rgba(255, 255, 255, 0.4);
  --text-tertiary-hover: rgba(255, 255, 255, 0.2);
  --highlight: rgb(116, 188, 255);
  --highlight-hover: rgba(116, 188, 255, 0.6);
  --input-bg: rgba(49, 56, 64, 1);
  --input-border: rgba(0, 0, 0, 0);
  --button-bg: rgba(49, 56, 64, 1);
  --button-bg-hover: rgb(49, 56, 64, 0.6);
  --button-bg-disabled: rgba(0, 0, 0, 0);
  --button-bg-click: rgba(49, 56, 64, 0.3);
  --button-no-bg: rgba(0, 0, 0, 0);
  --button-border: rgba(0, 0, 0, 0);
  --button-border-hover: rgba(0, 0, 0, 0);
  --button-border-disabled: rgba(49, 56, 64, 1);
  --button-outline-clicked: rgba(255, 255, 255, 0.2);
  --card-bg: rgba(49, 56, 64, 1);
  --card-border: rgba(255, 255, 255, 0);
  --card-shadow: rgba(0, 0, 0, 0);
  --card-shadow-hover: rgba(0, 0, 0, 0);
  --dialog-backdrop: rgba(0, 0, 0, 0.5);
  --dialog-bg: rgba(49, 56, 64, 1);
  --dialog-border: rgba(255, 255, 255, 0.2);
  --dialog-close-btn-bg: rgba(49, 56, 64, 1);
  --dialog-close-btn-bg-hover: rgba(44, 50, 57, 1);
  --dialog-close-btn-border: rgba(255, 255, 255, 0.08);
  --section-header-line: rgba(255, 255, 255, 0.08);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(0, 0, 0, 1);
  --color-express-bg: rgba(0, 0, 0, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-insomnia: rgb(101, 55, 192);
  --color-insomnia-bg: rgba(101, 55, 192, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgresql: rgba(51, 103, 145, 1);
  --color-postgresql-bg: rgba(51, 103, 145, 0.1);
  --color-pgadmin: rgba(51, 103, 145, 1);
  --color-pgadmin-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
  --color-socketio: rgb(255, 255, 255, 1);
  --color-socketio-bg: rgba(255, 255, 255, 0.1);
  --color-nestjs: rgb(234, 39, 92);
  --color-nestjs-bg: rgb(234, 39, 92, 0.1);
}

.tab {
  margin-right: 10px;
  padding: 5px 20px 5px 20px;
  background-color: var(--button-bg);
  border-radius: 10px;
  cursor: pointer;
}
.tab:hover {
  background-color: var(--button-bg-hover);
}

.selected-tab {
  background-color: var(--highlight);
}
.selected-tab:hover {
  background-color: var(--highlight);
}

.last-tab {
  margin-right: 0;
}/*# sourceMappingURL=tab.css.map */