@charset "UTF-8";
:root {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(255, 255, 255);
  --color-font: rgb(30, 30, 30);
  --color-font-hover: rgb(100, 100, 100);
  --color-border: rgba(30, 30, 30, 0.2);
  --color-tech: rgba(30, 30, 30, 0.06);
  --color-dialog-border: rgb(207, 207, 207);
  --color-dialog: rgb(244, 244, 244);
  --color-dialog-image-border: rgb(207, 207, 207);
  --color-icon: rgb(30, 30, 30);
  --color-icon-hover: rgb(100, 100, 100);
  --color-link: rgb(0, 0, 0);
  --color-link-hover: rgb(100, 100, 100);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(210, 222, 231);
  --color-card-hover: rgb(230, 230, 230);
  --color-input-background: rgb(240, 240, 240);
  --color-input-font: rgb(30, 30, 30);
  --color-input-font-placeholder: rgb(100, 100, 100);
  --color-button-background: rgb(240, 240, 240);
  --color-button-background-hover: rgb(184, 197, 206);
  --color-button-font: rgb(30, 30, 30);
  --color-button-background-disabled: rgb(255, 255, 255);
  --color-button-font-disabled: rgb(200, 200, 200);
  --color-button-border-disabled: rgb(230, 230, 230);
  --color-tech-background: rgba(50, 50, 50, 0.2);
  --color-highlight: rgb(116, 188, 255);
  --color-shadow: rgb(0, 0, 0, 0.1);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(255, 255, 255, 1);
  --color-express-bg: rgba(255, 255, 255, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-isomnia: rgba(64, 1, 191, 1);
  --color-isomnia-bg: rgba(64, 1, 191, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgres: rgba(51, 103, 145, 1);
  --color-postgres-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
}

[data-theme=dark] {
  --color-no-background: rgba(0, 0, 0, 0);
  --color-background: rgb(0, 0, 0);
  --color-font: rgb(255, 255, 255);
  --color-font-hover: rgb(200, 200, 200);
  --color-border: rgba(170, 170, 170, 0.2);
  --color-tech: rgba(2, 2, 2, 0.5);
  --color-dialog-border: rgb(44, 44, 44);
  --color-dialog: rgb(5, 5, 5);
  --color-dialog-image-border: rgb(44, 44, 44);
  --color-icon: rgb(255, 255, 255);
  --color-icon-hover: rgb(200, 200, 200);
  --color-link: rgb(255, 255, 255);
  --color-link-hover: rgb(200, 200, 200);
  --color-link-extern: rgb(90, 146, 197);
  --color-card: rgb(13, 23, 31);
  --color-card-hover: rgb(40, 40, 40);
  --color-input-background: rgb(30, 30, 30);
  --color-input-font: rgb(255, 255, 255);
  --color-input-font-placeholder: rgb(200, 200, 200);
  --color-button-background: rgb(30, 30, 30);
  --color-button-background-hover: rgb(27, 46, 62);
  --color-button-font: rgb(255, 255, 255);
  --color-button-background-disabled: rgb(0, 0, 0);
  --color-button-font-disabled: rgb(100, 100, 100);
  --color-button-border-disabled: rgb(100, 100, 100);
  --color-highlight: rgb(116, 188, 255);
  --color-css: rgba(20, 114, 182, 1);
  --color-css-bg: rgba(20, 114, 182, 0.1);
  --color-dart: rgba(0, 196, 179, 1);
  --color-dart-bg: rgba(0, 196, 179, 0.1);
  --color-express: rgba(0, 0, 0, 1);
  --color-express-bg: rgba(0, 0, 0, 0.1);
  --color-figma: rgba(255, 114, 98, 1);
  --color-figma-bg: rgba(255, 114, 98, 0.1);
  --color-flutter: rgba(63, 182, 211, 1);
  --color-flutter-bg: rgba(63, 182, 211, 0.1);
  --color-git: rgba(243, 79, 42, 1);
  --color-git-bg: rgba(243, 79, 42, 0.1);
  --color-html: rgba(228, 77, 38, 1);
  --color-html-bg: rgba(228, 77, 38, 0.1);
  --color-isomnia: rgba(64, 1, 191, 1);
  --color-isomnia-bg: rgba(64, 1, 191, 0.1);
  --color-javascript: rgba(240, 219, 79, 1);
  --color-javascript-bg: rgba(240, 219, 79, 0.1);
  --color-materialui: rgba(1, 129, 203, 1);
  --color-materialui-bg: rgba(1, 129, 203, 0.1);
  --color-node: rgba(84, 163, 68, 1);
  --color-node-bg: rgba(84, 163, 68, 0.1);
  --color-postgres: rgba(51, 103, 145, 1);
  --color-postgres-bg: rgba(51, 103, 145, 0.1);
  --color-postman: rgba(255, 108, 55, 1);
  --color-postman-bg: rgba(255, 108, 55, 0.1);
  --color-python: rgba(255, 225, 99, 1);
  --color-python-bg: rgba(255, 225, 99, 0.1);
  --color-react-mini: rgba(98, 217, 254, 1);
  --color-react-mini-bg: rgba(98, 217, 254, 0.1);
  --color-react: rgba(1, 216, 255, 1);
  --color-react-bg: rgba(1, 216, 255, 0.1);
  --color-scss: rgba(203, 102, 153, 1);
  --color-scss-bg: rgba(203, 102, 153, 0.1);
  --color-typescript: rgba(1, 122, 204, 1);
  --color-typescript-bg: rgba(1, 122, 204, 0.1);
}

:root {
  --border-radius: 10px;
  --image-radius: 20px;
}

@keyframes slide-in {
  0% {
    transform: translateY(80px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.tech {
  padding-bottom: 50px;
}
.tech--items {
  display: flex;
  flex-wrap: wrap; /* Macht das Wrappen möglich */
  justify-content: center; /* Zentriert die Cards mit Lücken dazwischen */
  gap: 30px;
  width: 100%; /* Full width of the container */
}
.tech--items--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 110px; /* Ensure width is equal to height */
  height: 110px; /* Ensure height is equal to width */
  background-color: var(--color-tech);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  box-shadow: 0 4px 8px var(--color-shadow);
}
.tech--items--card.slide-in {
  opacity: 1;
  animation: slide-in 0.5s ease-in;
}
.tech--items--card:hover {
  transform: scale(1.05); /* Slightly scale on hover */
  transition: transform 0.2s ease-in;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.tech--items--card--image {
  margin-top: 10px;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}/*# sourceMappingURL=tech.css.map */